body{
    background-color: bisque;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.logo h2{
       font-size: 45px; 
       font-weight: 900;
       color: whitesmoke;
       background-color: rgb(202, 143, 122);
}

.color-orange{
    color: whitesmoke;
    
}

/* Hire me controlled from here */
.btn{
    background-color: rgb(202, 143, 122);
    border: 3px solid orangered;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    
}
.btn-grp{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
} 

.btn:hover{
    background-color: orangered;
    color: white;
    transform: scale(1.05);
}

/* about section , what i do section */

.section-heading{

    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    /* background-color: rgb(202, 143, 122); */
    /* margin-bottom: 20px; */
    /* margin-top: 30px; */
}
.section-heading h2{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    border: 3px solid orangered;
    padding: 5px 5px 5px 5px;
    color: whitesmoke;
}
.section-heading p{
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}




/* main style */
/* top banner sdt,pfolio,blog,hire from here */
header{
    background-color: bisque;
    background: url("../images/pictwo.png"),url("../images/picOne.png"),bisque;
    background-position: bottom right,top left;
    background-repeat: no-repeat;
    background-size: 800px 800px;
    
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{

    font-size: 20px;
    color: #474747;
    text-decoration: none;

}


/* Banner part here */
#banner{
    /* border: 1px solid red; */
    margin: 50px 164px 0 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}
/* Hi i am */
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;

}
/* Sadat */
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;
}
/* paragraph here */
#banner .banner-content p{
    font-size: 40px;
    color: #757575;
    line-height: 43px;
    margin-bottom: 30px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: 3px solid orangered;

}

#banner .banner-image img{

    max-width: 585px;
    vertical-align: middle;

}

/* about section */

#about{
    padding-top: 130px;
}

/*  */
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    padding: 131px 156px;
    border: 3px solid orangered;
    border-radius: 15px;
    box-shadow: 10px 10px 10px orangered;


}
/* part under about me name,mail etc */
#about .about-container .about-info{

    display: flex;
    justify-content: center;
    gap: 30px;

}

/* inner part of name,mail etc */
.about-info .info-card p{

    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
    line-height: 30px;
    color: whitesmoke;
    font-weight: bold;
}
.about-info .info-card{

    border: 2px solid orangered;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px orangered;
    background-color: rgb(202, 143, 122);

}

.about-info .info-card h4{

    font-size: 30;
    color: whitesmoke;


}

/* Skills part */
#skills{
    padding-top: 130px;
}

#skills .skills-container{

    width: 71%;
    max-width: 1140px;
    margin: 0 auto;

}
/* Skill box's gaps and all */
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;

    margin-bottom: 100px;

}

.skill-box .skill-card{
    padding: 30px;
    border: 5px solid orangered; 
    max-width: 270px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px;

}

.skill-box img{
    width: 70px;
    height: 70px;
    margin-bottom: 30px;
}

/* heading of skill card */
.skill-card h3{
    font-size: 25px;
    color: gray;
    margin-bottom: 20px;
}
/* heading of skill card paragraphs */
.skill-card p{
    font-size: 20px;
    color:black;
    line-height: 28px;
    margin-bottom: 30px;
}



/* resume part */
#resume{
    padding-top: 130px;
}

#resume .resume-container{

    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;/* education and experience  side by side*/
    gap: 24px;
    /* border: 2px solid orangered;
    padding: 10px; */

}

.resume-container .section-title{

    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

.resume-card{
    
    max-width: 511px;
    margin-right: 47px;
    border: 5px solid orangered;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px  rgb(202, 143, 122);


}

.resume-card  .card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;

}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;

}

footer{
    margin-top: 130px;
    background-color: bisque;
    padding: 130px 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* footer part */

/* entire footer */
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    border: 5px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px;

}
/* 
.footer-container{
    
    max-width: 662px;
} */

.footer-container h2{

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-container p{
        
    font-size: 25px;
    margin-bottom: 20px;
}

.footer-container .icons a{
    margin-right: 30px;
}

.footer-container .icons a img{
    width: 64px;
    height: 64px;
}


.hide{
    display: none !important;
}


@media screen and (max-width:576px){




    #about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 15px;
    box-shadow: 2px 2px 2px orangered;


   }
   #about .about-container .about-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;

    }

    #skills .skills-container{

    width: 95%;
    /* max-width: 1140px;
    margin: 0 auto; */

  }
  .section-heading h2{
    font-weight: bold;
    font-size: 30px;
    /* margin-bottom: 30px; */
    background-color: rgb(202, 143, 122);
    display: inline-block;
    border: 3px solid orangered;
    padding: 1px 1px 1px 1px;
    color: whitesmoke;
}
    
    #skills{
    padding-top: 60px;
   }
   #skills .skills-container .skill-box{
    display: flex;
    gap: 5px;
    flex-direction: column;

    margin-bottom: 100px;

    }

    .skill-box .skill-card{
    padding: 30px;
    border: 5px solid orangered; 
    max-width: 100%;
    box-shadow: 2px 2px 2px rgb(202, 143, 122);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;

    }
    footer .footer-container{

    width: 95%;
    /* max-width: 1140px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 5px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px; 

    }
    
    footer{
    padding: 40px 15px;
    }

  footer .icons{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 20px;
    }

  .footer-container .icons a{
    margin-right: 0; 
    }


    #resume .resume-container{
    width: 95%;
    margin-top: 60px;
    /* max-width: 1140px; */
    /* margin: 18px auto 0; */
    display: flex;/* education and experience  side by side*/
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid orangered;
    padding: 10px; */

}

   .resume-card{
    
    max-width: 95%;
    margin-right: 10px;
    /* margin-right: 47px; */
    border: 5px solid orangered;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px  rgb(202, 143, 122);


  }
  nav{
    width: 95%;
    /* max-width: 1600px; */
    /* border: 1px solid red; */
    /* margin: 0px auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

nav{
    gap: 20px;
}

nav .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 30px;
    /* align-items: center; */
}



#banner{
    /* border: 1px solid red; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#banner .banner-image img{

    width: 100%;
    /* vertical-align: middle; */

}

#banner .banner-content p{

}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;

}
/* Sadat */
#banner .banner-content h1{
    font-size: 43;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;
}

.logo h2{
    visibility: collapse;
}

.btn-grp{

  justify-content: center;
 
} 
nav .menu a{

    font-size: 20px;
    color: #474747;
    text-decoration: none;
    background-color: rgb(202, 143, 122);
    border: 3px solid orangered;
    padding: 5px;
    color: white;

}

#banner .banner-content p{

    font-size: 20px;
    
}
    
}


/* tablet */

@media screen and (min-width:576px) and (max-width:992px){
    
      #about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    padding: 15px;
    border: 1px solid orangered;
    border-radius: 15px;
    box-shadow: 2px 2px 2px orangered;


   }
   #about .about-container .about-info{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;

    }

    #skills .skills-container{

    width: 95%;
    /* max-width: 1140px;
    margin: 0 auto; */

  }
  .section-heading h2{
    font-weight: bold;
    font-size: 30px;
    /* margin-bottom: 30px; */
    background-color: rgb(202, 143, 122);
    display: inline-block;
    border: 3px solid orangered;
    padding: 1px 1px 1px 1px;
    color: whitesmoke;
}
    
    #skills{
    padding-top: 60px;
   }
   #skills .skills-container .skill-box{
    display: flex;
    gap: 5px;
    flex-direction: column;

    margin-bottom: 100px;

    }

    .skill-box .skill-card{
    padding: 30px;
    border: 5px solid orangered; 
    max-width: 100%;
    box-shadow: 2px 2px 2px rgb(202, 143, 122);
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;

    }
    footer .footer-container{

    width: 95%;
    /* max-width: 1140px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 5px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px; 

    }
    
    footer{
    padding: 40px 15px;
    }

  footer .icons{
    display: flex;
    /* flex-direction: column;   */
    justify-content: center;
    align-items: center;
    gap: 20px;
    }

  .footer-container .icons a{
    margin-right: 0; 
    }


    #resume .resume-container{
    width: 95%;
    margin-top: 60px;
    /* max-width: 1140px; */
    /* margin: 18px auto 0; */
    display: flex;/* education and experience  side by side*/
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid orangered;
    padding: 10px; */

}

   .resume-card{
    
    max-width: 95%;
    margin-right: 10px;
    /* margin-right: 47px; */
    border: 5px solid orangered;
    padding: 5px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px  rgb(202, 143, 122);


  }
  nav{
    width: 95%;
    /* max-width: 1600px; */
    /* border: 1px solid red; */
    /* margin: 0px auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
}

nav{
    gap: 20px;
}

nav .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 30px;
    /* align-items: center; */
}



#banner{
    /* border: 1px solid red; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#banner .banner-image img{

    width: 100%;
    /* vertical-align: middle; */

}

#banner .banner-content p{

}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;

}
/* Sadat */
#banner .banner-content h1{
    font-size: 43;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    color: whitesmoke;
    background-color: rgb(202, 143, 122);
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    border: 3px solid orangered;
}

.logo h2{
    visibility: collapse;
}

.btn-grp{

  justify-content: center;
 
} 
nav .menu a{

    font-size: 20px;
    color: #474747;
    text-decoration: none;
    background-color: rgb(202, 143, 122);
    border: 3px solid orangered;
    padding: 5px;
    color: white;

}

#banner .banner-content p{

    font-size: 20px;
    
}
}