.hero-container{
    display: flex;
    gap: 40px;
    align-items: center;
    background-color: coral;
    border-radius: 25px;
    padding: 25px;
    font-size: 1.25em;

}

.hero-container img{
    width: 400px;
    height: 400px;
    border-radius: 25px;
}

body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}
.hero-container button{
    background-color: wheat;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 25px;

}