body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.orange{
    color: orangered;
    background-color: rgb(255, 238, 216);
    padding: 10px 10px 10px 10px;
    
}
.t1{
    background-color: orangered;
    color: rgb(255, 238, 216);
    padding: 10px 10px 10px 10px;
    /* border-radius: 20px; */
}
.t2{
    background-color: orangered;
    color:rgb(255, 238, 216);
    padding: 10px 10px 10px 10px;
    /* border-radius: 20px; */
}

.btn{
    background-color: orangered;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 238, 216);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.4s ease;
}

.btn:hover{
    background-color: rgb(185, 58, 58);
}

header{
    background-color: wheat;
    border: 2px solid orangered;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
nav{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#pics{
    padding-top: 200px;
}
#pics{
    background: url(../images/bgmage.png);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

#pics .pic-container{
    width: 71%;
    max-width: 1200px;
    margin: 0 auto; 
}

#pics .pic-container .pic-box{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;    
    justify-content: center;

}

.pic-box .pic-card{
    /* flex: 1 1 calc(50% - 25px); */
    width: 350px;
    padding: 20px;
    background-color: rgb(240, 122, 80);
    box-shadow: 5px 5px 5px rgb(240, 122, 80);
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    transition: background-color 0.4s ease;

}
.pic-card:hover{
    background-color: rgb(185, 58, 58);
}

.pic-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

.pic-card p{
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 238, 216);
}


footer{
    margin-top: 130px;
    background-color: bisque;
    padding: 130px 130px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* footer part */

/* entire footer */
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    /* display: flex; */
    align-items: center;
    border: 5px solid orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px rgb(202, 143, 122);
    border-radius: 15px;

}

.footer-container{
    
    max-width: 662px;
}

.footer-container h2{

    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-container p{
        
    font-size: 25px;
    margin-bottom: 20px;
}

.footer-container .icons a{
    margin-right: 30px;
}

.footer-container .icons a img{
    width: 64px;
    height: 64px;
}