.article{
    border: 10px solid black ;
    background-color: lightpink;
    margin: 20px;
    width: 500px;
    padding: 50px;
    box-shadow: 10px 10px 70px gray;

}

.head{
    color: white;
    text-align: center;
    font-size: xx-large;
    height: 1500px;
    background-color: aqua;
    background-image: url('pics/dispatch.png');
    background-repeat: no-repeat;
    background-size: cover;
}